.BodyContainer{
    margin: 2rem auto 2rem auto;
}

.Buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.SearchBar{
    font-size: 1rem;
    width: 300px;
    padding: 0 2rem;
}

.TopBtn{
    font-size: 1rem;
    padding: 1.8rem;  
}

.ResContainer{
    margin: 3rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 50px;
}
