.OnlineContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.OnlineMainHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}