.ResItem{
    width: 360px;
    height: 330px;
    transition: transform 0.4s;
    color: black;
}

.ResItem:hover{
    cursor: pointer;
    transform: scale(0.95);
}

.ResTitle{
    margin-top: 10px;
    font-size: 1.05rem;
    font-weight: 600;
}

.ResImg{
    width: 100%;
    height: 220px;
    border-radius: 12px;
    object-fit: cover;
}

.ResRating{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 0.95rem;
    font-weight: 500;
}

.ResStarImg{
    width: 20px;
}

.ResRating > span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ResCuisines{
    font-size: 0.9rem;
    color: rgba(2, 6, 12, 0.6);
}

.ResLocal{
    font-size: 0.9rem;
    color: rgba(2, 6, 12, 0.6);
}