.Header{
    background-color: #1a1a1a;
    padding: 1rem;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo{
    height: 60px;
    border-radius: 50%;
}

.NavItems{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.NavItems li,
.NavItems li a{
    font-size: 1rem;
    color: white;
}