*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

img,video{
  display: block;
  max-width: 100%;
}

.CommonBtn{
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.Container{
  max-width: 1200px;
  margin: 0 auto;
}

.Flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
